
*{
padding:auto;
}

.mt-0{
margin-top:0em;
}
.mt-1{
margin-top:1em;
}
.mt-2{
margin-top:2em;
}
.mt-3{
margin-top:3em;
}
.mt-4{
margin-top:4em;
}


.bg-red{
background-color:red;
}
.bg-green{
background-color:green;
}
.bg-blue{
background-color:blue;
}
.bg-purple{
background-color:purple;
}
.bg-orange{
background-color:orange;
}
.bg-black{
background-color:black;
}
.text-red{
color:red;
}
.text-green{
color:green;
}
.text-blue{
color:blue;
}
.text-purple{
color:purple;
}
.text-orange{
color:orange;
}
.text-black{
color:black;
}